:root {
  --main-color: #cae2fa;

  background-color: var(--main-color);
}
#root {
  height: 100%;
  width: 100%;
  padding: 2rem;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: start;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
